html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.profile-picture {
    max-width: 64px;
    max-height: 64px;
}

.profile-posts {
    margin-top: 1.5rem;
}

.post-title {
    margin-bottom: 0;
}

.nav-link {
    transition: 0.3s;
}

.nav-link:hover, .nav-link:focus {
    backdrop-filter: invert(15%);
}

.navbar {
    padding: 0;
}

.nav-profile-picture {
    max-width: 16px;
    max-height: 16px;
}

.search-bar {
    max-width: 15rem;
}

.margin-bottom {
    margin-bottom: 1rem;
}