@model BlogSearchDTO

<form class="navbar-nav search-bar" asp-controller="Posts" asp-action="Search">
    <input asp-for="TitleWanted" type="text" class="form-control" placeholder="Search for blog..." aria-label="Blog search" aria-describedby="basic-addon2">
    <input type="submit" value="Search" class="btn btn-outline-primary" />
</form>