@model PostModel
@using PTBlog.Data.Repositories
@inject IUsersRepository usersRepo

@if (await usersRepo.DoesClaimHaveAccessToPost(User, Model))
{
	<h2>Actions:</h2>
	<a class="btn btn-outline-info" asp-controller="Posts" asp-action="Edit" asp-route-id="@Model.Id">Edit</a>
	<a class="btn btn-outline-danger" asp-controller="Posts" asp-action="Delete" asp-route-id="@Model.Id">Delete</a>
}
