@model UserModel
@{
	ViewData["Title"] = $"{Model.Username}'s Profile";
}

<section>
	<h1>@Model.Username's Profile</h1>

	<img class="profile-picture" src="@Model.ProfilePictureURL" alt="@Model.Username's Profile Picture" />

	<h2 class="profile-posts">@Model.Username's Posts</h2>
	@await Html.PartialAsync("~/Views/Posts/_PostsTablePartial.cshtml", Model.Posts)
</section>